################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GrabbableSpeechUnity/Library
/GrabbableSpeechUnity/Logs
/GrabbableSpeechUnity/Packages
/GrabbableSpeechUnity/Temp
/GrabbableSpeechUnity/Assets/SpeechSubscriptionKey.cs.meta
/GrabbableSpeechUnity/Assets/SpeechSubscriptionKey.cs
/GrabbableSpeechUnity/.vs/
/GrabbableSpeechUnity/obj/
*.sln
*.csproj
/GrabbableSpeechUnity/Builds
